
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Aqua World</h1>

<form asp-action="AquaWorld" asp-action="AddData" method="post">
  <label>Name:</label> <input type="text" name="CustomerName" ><br><br>
  <label>Contact Number:</label> <input type="text"  name="ContactNumber" ><br>
  <label >Category</label><input type="text"  name="Category" ><br><br>
 <label >Upload Image</label> <input type="file"  name="Image"><br><br />
  <input type="submit" value="Submit">
</form> 